@font-face {
  font-family: 'Roboto';
  src: url('../../assets/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype');
  font-weight: 400 900;
}
@font-face {
  font-family: 'montserrat';
  src: url('../../assets/Montserrat-Italic-VariableFont_wght.ttf');
  font-weight: 400 900;
}


.PricingBG{
  background-color: #080808;
}

.Pricing{
  position: relative;
  width: 100%;
     background-color: #080808;

}
.PricingBG{
    position: absolute;
    width: 100%;
    top: 300px;
    left: 0;
    z-index: 1;
    background-color: #080808;
   height: 1000px;

}
.Pricing_content{
    position: relative;
    width: 100%;
     z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}
.Pricing_headlines{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
      filter: drop-shadow(0px 0px 20px rgba(125, 59, 183));

}
.Pricing_HeadlineMiniText{
    color: #7d3bb7;
    font-size: 22px;
    font-family: Roboto;
}
.Pricing_HeadlineTitle{
    font-size: 28px;
    color: #ffffff;
    font-family: montserrat;
}
.Pricing_headlinePara{
    color: #87848d;
    font-size: 20px;
    font-family: Roboto;
}
.Pricing_CardsWrapper{
  display: flex;
  gap: 90px;
  justify-content: center;
width: 100%;
margin-top: 70px;

   


}
.Pricing_card{
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding: 40px;
  padding-bottom: 150px;
  background-color: rgba(23, 20, 28, 0.95);
  border: 1px solid #0b0b0b;
  border-radius: 40px;
   filter: drop-shadow(0px 0px 10px rgba(125, 59, 183, 0.5));
      border: 1px solid rgba(255, 255, 255, 0.08);
}
.Card_title{
  font-size: 25px;
  font-family: montserrat;
  color: #f8f9f8;
}
.card_Text{
  font-size: 20px;
  font-family:Roboto ;
  color: #ffffff;
  margin-top: -15px;
}
.Pricing_start{
   font-size: 20px;
  font-family:Roboto ;
  color: #ffffff;
}
.Price_wrap{
  margin-top: -50px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.Dolar{
  font-size: 20px;
  color: #6b6670;
  font-family: Roboto;
}
.Price{
  font-size: 35px;
  font-family: montserrat;
  color: #f8f9f8;
}
.PricicingCards_benefitsWrapper{
  display: flex;
  margin-top: -20px;
  flex-direction: column;
  gap: 5px;
}
.benefit{
  display: flex;
  gap: 10px;
  align-items: center;
}
.ChackImg{
  width: 25px;
  height: 25px;
 border: 1px solid rgba(125, 59, 183, 0.5);
 border-radius: 50%;
 background-color: #ffffff;
    filter: drop-shadow(0px 0px 10px rgba(125, 59, 183, 0.5));

  
}
.Benefit_text{
  font-size: 20px;
  color: #f8f9f8;
  font-family: Roboto;
}
.BTNs{
  position: absolute;
  bottom: 40px;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background-color: #7d3bb7;
  font-size: 18px;
   border: 1px solid rgba(125, 59, 183, 0.5);
       filter: drop-shadow(0px 0px 10px rgba(125, 59, 183, 0.5));
border-radius: 20px;
  transition: all 0.2s ease;
}
.BTNs:hover {
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.01);

}