@font-face {
  font-family: 'Roboto';
  src: url('../../assets/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype');
  font-weight: 400 900;
}
@font-face {
  font-family: 'montserrat';
  src: url('../../assets/Montserrat-Italic-VariableFont_wght.ttf');
  font-weight: 400 900;
}
.Services{
   width: 100%;
    padding: 80px 20px;
    background-color: #080808;
    color: #FFFFFF;
    text-align: center;
}


.Service_wrapper{
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 200px;

   

}
.MagicBento-centered{
    cursor: pointer;
}
.Service_wrapper p {
    font-size: 22px;
    color: #742fe3;
    max-width: 600px;
    margin: 10px auto;
    font-family: 'Roboto';
        filter: drop-shadow(10px 10px 10px rgba(48, 8, 76, 0.6));

}
.Service_wrapper h2 {
    font-size: 26px;
    font-family: 'montserrat', sans-serif;
        filter: drop-shadow(10px 10px 10px rgba(48, 8, 76, 0.6));

}
.Service_wrapper{
  opacity: 0;
  transform: translateY(50px);

  transition: all 0.8s ease;
}

.Service_wrapper.show {
  opacity: 1;
  transform: translateY(0);
}